/* 
*Globals 
*/
body {
    font-family: 'Work Sans', sans-serif;
}

/* 
* NAV BAR 
*/
.nav-item, .navbar-brand {
    font-family: 'Domine', serif;
    font-size: large;
    padding-left: 7%;
    justify-content: stretch;
}
.nav-link {
    color: #e6f7f6;
}
.navbar {
    padding-top: 2%;
    background: transparent;
}

.nav-width {
    padding-left: 10%;
    padding-right: 10%;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .nav-right {
        display: flex;
        justify-content: center;
    }
}

.navbar.scrolled {
    background-color: #1e1659 !important;
    transition: background-color 200ms linear;
  }


/* 
* Dropdown Menu
*/
.pif-dropdown  {
    color:#fff!important;
    background: rgba(9, 67, 136, 0.9);
}
.dropdown-menu > li > a{
    color:#fff!important;
    text-decoration:none;
}
/* highlight on hover */
a:hover{
   background: rgba(9, 67, 136, 0.9)!important;
}
/* dimensions */
.dropdown-menu{
    top: 70%;
    min-width: 80px;
}
/* open on hover - make sure to enable the caret if you disable it */
  ul.mbr-navbar__items li:hover > ul.dropdown-menu {
    display: block;
  }
